
{{ form_start(form,{'attr':{  'class':'form',
    'id':'form'}}) }}
    {{ form_row(form._token) }}
<div class="row">
{#    <div class="col-md-3">#}
{#        <label for="nombre">Codigo :</label>#}
{#        <div class="form-group">#}
{#            {{ form_widget(form.codigo) }}#}
{#            <div class=" invalid-feedback text-danger">#}
{#                {{ form_errors(form.codigo) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="col-md-12">
        <label for="nombre">Nombre del aeropuerto :</label>
        <div class="form-group">
            {{ form_widget(form.nombre) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.nombre) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label for="nombre">Bahias :</label>
        <div class="form-group">
            {{ form_widget(form.bahias) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.bahias) }}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <label for="nombre">Encargados :</label>
        <div class="form-group">
            {{ form_widget(form.encargado) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.encargado) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label for="nombre">Pais  :</label>
        <div class="form-group">
            {{ form_widget(form.pais) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.pais) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="nombre">Ciudad  :</label>
        <div class="form-group">
            {{ form_widget(form.ciudad) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.ciudad) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="nombre">Telefono  :</label>
        <div class="form-group">
            {{ form_widget(form.telefono) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.telefono) }}
            </div>
        </div>
    </div>
</div>

<div class="form-actions right">
    <button type="button"
            onclick="$('#mainCard').html('')"
            class="btn btn-grey">

        <i class="icon-close"></i> Cancelar
    </button>
    {% if accion is defined %}
        <button type="button"
                title="Eliminar aeropuerto"
                onclick="$('#form').submit()"
                class="btn btn-danger">
            <i class="icon-trash2"></i> Eliminar
        </button>
    {% else %}

        <button type="button"
                onclick="$('#form').submit()"
                class="btn btn-success">
            <i class="icon-save"></i> Guardar
        </button>
    {% endif %}

</div>

{{ form_end(form) }}
<script type="text/javascript">
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            //===========================================================================================================
            $('.phone').mask('00000000');
            $('.int').mask('000');
        })();
</script>

