<div class="row">
    <div class="col-md-12 col-lg-12">
        {{ form_start(form,{'attr':{  'class':'form',
                            'data-url': path('roles.store'),
                            'id':'createRolForm'}}) }}

            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="name">Nombre :</label>
                        <div class="form-grop">
                            {{ form_widget(form.name) }}
                            <div class=" invalid-feedback text-danger">
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-md-12">
                        <label for="description">Descripcion :</label>
                        <div class="form-group">
                            {{ form(form.description) }}
                            <div class="col-md-12 invalid-feedback text-danger">
                                {{ form_errors(form.description) }}
                            </div>

                        </div>
                    </div>
                </div>
                {{ form_row(form._token) }}
                <div class="form-actions right">
                    <button type="button"
                            onclick="loadCardPostAjax($('#createRolForm'),$('#createRolForm'))"
                            class="btn btn-success">
                            <i class="icon-plus"></i> Guardar
                    </button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>