{{ form_start(form,{'attr':{'class':'form'                              ,
                            'data-url': path('roles.update',{'id':id}) ,
                            'id':'editRolForm'}}) }}
    {{ form_row(form._token) }}
<div class="row">
    {{ form_errors(form) }}
</div>
<div class="form-body">
    <div class="row">
        <div class="col-md-12">
            <label for="name">Nombre :</label>
            <div class="form-grop">
                {{ form_widget(form.name) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
            <label for="description">Descripcion :</label>
            <div class="form-group" disabled>
                {{ form(form.description) }}
                <div class="col-md-12 invalid-feedback text-danger">
                    {{ form_errors(form.description) }}
                </div>

            </div>
        </div>
    </div>
    <div class="form-actions right">
        <button type="button"
                onclick="$('#btn-create').click()"
                class="btn btn-danger">
            <i class="icon-close"></i> Cancelar
        </button>
        <button type="button"
                onclick="loadCardPostAjax($('#editRolForm'),$('#rol_crd'))"
                class="btn btn-success">
            <i class="icon-plus"></i> Guardar
        </button>
    </div>

</div>

{{ form_end(form) }}