{% extends 'layout/layout.html.twig' %}
    {% block header_links %}
        <div class="col col-md-12">
            <div class="content-header-right breadcrumb-new" style="padding-left: 15px;padding-bottom: 10px;">
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('homesvao') }}">svao</a>
                            </li>
                            <li class="breadcrumb-item">private
                            </li>
                            <li class="breadcrumb-item">Catalogo de clientes
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block body %}

    {# ==================================================================================================   #}
    <div class="row">
        <div class="col-md-8 col-sm-12" >
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">:: Clientes</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <div class="btn-group mr-1 mb-1 show">
                            <button type="button" class="btn btn-success dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="true"></i> Agregar cliente
                            </button>
                            <div class="dropdown-menu show"
                                 x-placement="bottom-start">
                                <li class="dropdown-item btn" onclick="loadTarget('{{ path('clientes.create.natural') }}',$('#mainCard'))">Cliente natural</li>
                                <li class="dropdown-item btn" onclick="loadTarget('{{ path('clientes.create.empresarial') }}',$('#mainCard'))" >Cliente empresarial</li>
                            </div>
                        </div>
{#                        <button type="button"#}
{#                                id="btn-create"#}
{#                                onclick="loadTarget('{{ path('roles.create') }}',$('#rol_crd'))"#}
{#                                class="btn btn-success">#}
{#                            <i class="icon-plus"  style="color: white;"></i> Agregar#}
{#                        </button>#}
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block" id="dtable">
                        <table class="table table-bordered sget">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pvt in list %}
                                <tr>
                                    <td>{{ pvt.id }}</td>
                                    <td>{{ pvt.nombres }} {{ pvt.apellidos }} </td>
                                    <td>{{ pvt.movil }}</td>
                                    <td width="100">
                                        <button type="button"
                                                title="editar"
                                                onclick="loadTarget('{{ path('clientes.edit',{'id':pvt.id}) }}',$('#mainCard'))"
                                                class="btn btn-sm btn-info">
                                            <i class="icon-edit"></i>
                                        </button>
                                        <button type="button"
                                                title="Ajuste"
                                                onclick="loadTarget('{{ path('clientes.delete',{'id':pvt.id}) }}',$('#mainCard'))"
                                                class="btn btn-sm btn-danger">
                                            <i class="icon-trash2"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">:: Cliente</h4>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block" id="mainCard">

                    </div>
                </div>
            </div>
        </div>
    </div>



    {# ==================================================================================================   #}


    <style type="text/css">
        textarea{
            resize: none;
        }
        .h400{
            max-height: 400px;
            overflow-y: auto;
        }


        table.sget tbody tr:nth-of-type(odd){
            background-color:   rgba(245,247,250,1);
        }
        table.sget tbody tr td{
            padding-bottom: 3px !important;
            padding-top: 3px !important;
            padding-left: 8px !important;
            padding-right: 8px !important;
            vertical-align: middle;
        }
        table.sget{
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius:10px ;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
        }

        table.sget tbody  tr:hover{
            background-color:   rgba(49,165,248,.2);
        }

        textarea{
            resize: none;
        }
    </style>

{% endblock %}

 {% block js %}
     {#     <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>#}
     <script src="{{ asset('utils/functions.js') }} " type="text/javascript"></script>
 {% endblock %}