{% extends 'layout/layout.html.twig' %}
    {% block header_links %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
        <div class="col col-md-12">
            <div class="content-header-right breadcrumb-new" style="padding-left: 15px;padding-bottom: 10px;">
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('homesvao') }}">svao</a>
                            </li>
                            <li class="breadcrumb-item">private
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('aerolineas.index') }}">Aerolineas</a>
                            </li>
                            <li class="breadcrumb-item">
                                {{ aerolinea.nombre }}
                            </li>
                            <li class="breadcrumb-item">
                                Aviones de linea
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% block body %}

    {# ==================================================================================================   #}
    <div class="row">
        <div class="col-md-8 col-sm-12" >
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">:: Aviones de {{ aerolinea.nombre }}</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">

                        <button type="button"
                                id="btn-create"
                                onclick="loadTarget('{{ path('aviones.create',{'aerolinea':aerolinea.id}) }}',$('#mainCard'))"
                                class="btn btn-success">
                            <i class="icon-plus"  style="color: white;"></i> Agregar
                        </button>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block" id="dtable">
                        <table class="table table-bordered sget">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Tipo Avion</th>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Capacidad</th>
                                <th>Accion</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pvt in list %}
                                <tr>
                                    <td width="40" align="middle">{{ pvt.codigo }} </td>
                                    <td>{{ pvt.tipo.nombre }}</td>
                                    <td>{{ pvt.marca.nombre }}</td>
                                    <td>{{ pvt.modelo.nombre }}</td>
                                    <td>{{ pvt.capacidad }}</td>
                                    <td>
                                        <center>
{#                                            <button type="button"#}
{#                                                    title="Ajustes de asientos"#}

{#                                                    class="btn btn-sm btn-primary">#}
{#                                                <i class="icon-cogs2"></i>#}
{#                                            </button>#}
                                            <button type="button"
                                                    title="Editar avion"
                                                    onclick="loadTarget('{{ path('aviones.edit',{'avion':pvt.id}) }}',$('#mainCard'))"
                                                    class="btn btn-sm btn-info">
                                                <i class="icon-edit2"></i>
                                            </button>
                                            <button type="button"
                                                    onclick="loadTarget('{{ path('aviones.delete',{'avion':pvt.id}) }}',$('#mainCard'))"
                                                    title="Eliminar avion"
                                                    class="btn btn-sm btn-danger">
                                                <i class="icon-trash2"></i>
                                            </button>

                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">:: Avion de linea</h4>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block" id="mainCard">
                        {% if form is defined %}
                            {% include 'private/aerolineas/aviones/avion.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block js %}
     <script src="{{ asset('utils/functions.js') }} " type="text/javascript"></script>
 {% endblock %}