
{{ form_start(form,{'attr':{  'class':'form'}}) }}
{{ form_row(form._token) }}
<div class="form-body">
    <div class="row">
        <div class="col-md-6">
            <label for="name">Nombres :</label>
            <div class="form-group">
                {{ form_widget(form.nombres) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.nombres) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="name">Apellidos :</label>
            <div class="form-group">
                {{ form_widget(form.apellidos) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.apellidos) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="name">Fecha nacimiento :</label>
            <div class="form-group">
                {{ form_widget(form.fechaNacimiento) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.fechaNacimiento) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="name">Genero :</label>
            <div class="form-group inline">
                {{ form_widget(form.genero) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.genero) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="name">Telefono movil :</label>
            <div class="form-group">
                {{ form_widget(form.movil) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.movil) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="name">Tipo documento:</label>
            <div class="form-group">
                {{ form_widget(form.tipoDoc) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.tipoDoc) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="name">Documento:</label>
            <div class="form-group">
                {{ form_widget(form.documento) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.documento) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="name">Direccion :</label>
            <div class="form-group">
                {{ form_widget(form.direccion) }}
                <div class=" invalid-feedback text-danger">
                    {{ form_errors(form.direccion) }}
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <label for="name">Correo electronico :</label>
        <div class="form-group">
            {{ form_widget(form.email) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label for="name">Password :</label>
        <div class="form-group">
            {{ form_widget(form.password) }}
            <div class=" invalid-feedback text-danger">
                {{ form_errors(form.password) }}
            </div>
        </div>
    </div>
</div>

<div class="form-actions right">
    <a href="{{ path('svao') }}">
        <button type="button"
                class="btn btn-blue-grey">
            <i class="icon-close"></i> Cancelar
        </button>
    </a>
    <button type="submit"
            class="btn btn-success">
        <i class="icon-save"></i> Guardar
    </button>
</div>
{{ form_end(form) }}

