<div class="row">
    <div class="col-md-12 col-lg-12">
        {{ form_start(form,{'attr':{  'class':'form',
            'data-url': path('clientes.natural.update',{'id':id}),
            'id':'editForm'}}) }}
        {{ form_row(form._token) }}

        {{ form_errors(form) }}
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <label for="name">Nombres :</label>
                    <div class="form-group">
                        {{ form_widget(form.nombres) }}
                        <div class="invalid-feedback text-danger">
                            {{ form_errors(form.nombres) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="name">Apellidos :</label>
                    <div class="form-group">
                        {{ form_widget(form.apellidos) }}
                        <div class=" invalid-feedback text-danger">
                            {{ form_errors(form.apellidos) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="name">Telefono movil :</label>
                    <div class="form-group">
                        {{ form_widget(form.movil) }}
                        <div class=" invalid-feedback text-danger">
                            {{ form_errors(form.movil) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="name">Tipo documento:</label>
                    <div class="form-group">
                        {{ form_widget(form.tipoDoc) }}
                        <div class=" invalid-feedback text-danger">
                            {{ form_errors(form.tipoDoc) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="name">Documento:</label>
                    <div class="form-group">
                        {{ form_widget(form.documento) }}
                        <div class=" invalid-feedback text-danger">
                            {{ form_errors(form.documento) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions right">
                <button type="button"
                        onclick="loadCardPostAjax($('#editForm'),$('#mainCard'))"
                        class="btn btn-success">
                    <i class="icon-plus"></i> Guardar
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>