<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">

    <div class="main-menu-header">
        <br>
        <input type="text" placeholder="Search" class="menu-search form-control round"/>
    </div>
    <br>

    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            {% if app.user.permiso('menu_administracion') %}
            <li class=" nav-item">
                <a href="#">
                    <i class="icon-settings2"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Administracion</span>
                </a>

                    {% if app.user.permiso('administrar_roles') %}
                        <ul class="menu-content">
                            <li>
                                <a href="{{ path('index_rol') }}" data-i18n="nav.dash.main" class="menu-item">Roles</a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if app.user.permiso('administrar_usuario') %}
                        <ul class="menu-content">
                            <li><a href="{{ path('usuarios.index') }}" data-i18n="nav.dash.main" class="menu-item">Usuarios</a>
                            </li>
                        </ul>
                    {% endif %}

            </li>
            {% endif %}
       {# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      #}
            {% if app.user.permiso('menu_catalogos') %}
            <li class=" nav-item">
                <a href="#">
                    <i class="icon-list"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Catalogos</span>
                </a>
                {% if app.user.permiso('catalogo_aeropuertos') %}
                    <ul class="menu-content">
                        <li><a href="{{ path('aeropuertos.list') }}" data-i18n="nav.dash.main" class="menu-item">Aeropuertos</a>
                        </li>
                    </ul>
                {% endif %}
                {% if app.user.permiso('catalogo_aerolineas') %}
                    <ul class="menu-content">
                        <li><a href="{{ path('aerolineas.index') }}" data-i18n="nav.dash.main" class="menu-item">Aerolineas</a>
                        </li>
                    </ul>
                {% endif %}
                {% if app.user.permiso('catalogo_clientes') %}
                    <ul class="menu-content">
                        <li>
                            <a href="{{ path('clientes.list') }}" data-i18n="nav.dash.main" class="menu-item">Clientes</a>
                        </li>
                    </ul>
                {% endif %}
            </li>
            {% endif %}
            {# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      #}
            {% if app.user.permiso('menu_aerolineas') %}
            <li class=" nav-item">
                <a href="#">
                    <i class="icon-flight"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Aerolinea</span>
                </a>
                {% if app.user.permiso('gestion_aviones') %}
                    <ul class="menu-content">
                        <li>
                            <a href="{{ path('aviones.index') }}" data-i18n="nav.dash.main" class="menu-item">Aviones de linea</a>
                        </li>
                    </ul>
                {% endif %}
                {% if app.user.permiso('gestion_vuelos') %}
                    <ul class="menu-content">
                        <li><a href="{{ path('vuelos.index') }}" data-i18n="nav.dash.main" class="menu-item">Vuelos de linea</a>
                        </li>
                    </ul>
                {% endif %}

                {% if app.user.permiso('gestion_horarios') %}

                    <ul class="menu-content">
                        <li>
                            <a href="{{ path('horariosva.index') }}" data-i18n="nav.dash.main" class="menu-item">Horario de vuelo</a>
                        </li>
                    </ul>
                {% endif %}

            </li>
            {% endif %}
            {# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      #}
            {% if app.user.permiso('menu_aeropuertos') %}
            <li class=" nav-item">
                <a href="#">
                    <i class="icon-location"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Aeropuerto</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="{{ path('horario_aeropuerto.index') }}" data-i18n="nav.dash.main" class="menu-item">Vuelos</a>
                    </li>
                </ul>

            </li>
            {% endif %}
            {# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      #}
            {% if app.user.permiso('menu_vuelos') %}
            <li class=" nav-item">
                <a href="#">
                    <i class="icon-map"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Mis vuelos</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="{{ path('clientes.historico') }}" data-i18n="nav.dash.main" class="menu-item">Historico</a>
                    </li>
                    <li>
                        <a href="{{ path('vuelos.reservas') }}" data-i18n="nav.dash.main" class="menu-item">Reserva de vuelos</a>
                    </li>
                </ul>

            </li>
            {% endif %}
            {# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++      #}
            {% if app.user.permiso('menu_auditoria') %}
                <li class=" nav-item">
                    <a href="#">
                        <i class="icon-search"></i>
                        <span data-i18n="nav.dash.main" class="menu-title">Auditoria</span>
                    </a>
                    <ul class="menu-content">
                        {% if app.user.permiso('consultar_movimientos') %}
                        <li>
                            <a href="{{ path('svao.protected.audit') }}" data-i18n="nav.dash.main" class="menu-item">Consultar movimientos</a>
                        </li>
                        {% endif %}
                    </ul>

                </li>
            {% endif %}
        </ul>
    </div>
</div>
